
.banner {
    width: 100%;
    height: 500px; /* You can adjust the height as needed */
    overflow: hidden;
    place-items:stretch !important ;

  }
  
  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    place-items:stretch !important ;
  }
  
  .how-it-works {
    text-align: center;
    padding: 50px 20px;
  }
  
  .how-it-works h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .steps {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .step {
    max-width: 300px;
    text-align: center;
    display: flex;
    margin: 50px 20px;
  }
  
  .step-number {
    padding: 15px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin: 0 auto 20px auto;
  }
  
  .step h3 {
    text-align: start;
    margin-left: 10px;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .step p {
    text-align: start;
    margin-left: 10px;
    color: #555;
  }